/*Main Navbar */

#nav {
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	z-index:999;
	}
	
#nav, #nav ul {
	list-style: none;
	line-height: 25px;
	background:none;
	margin-left:-10px;
	z-index:999;
	}

#nav a{
	display: block;
		background-position:top;
	background-repeat:repeat-x;
	text-decoration: none;
	border: none;
	}
#nav a:hover {
	display: block;
	text-decoration: none;
	}
#nav a:active, #nav a:focus {
  outline: none;
	}

#nav li {
	float: left;
	list-style: none;
	margin-left:18px;
	background-position:top;
	background-repeat:repeat-x;
	text-transform:uppercase;
	margin-top:3px;
	z-index:999;
	font-weight:bold;

		}

#nav li:hover {
	float: left;
	list-style: none; 
	}

#nav a, #nav a:visited {
	display: block;
	color: #fff;
	padding: 0px 0px;
	}

#nav a:hover, #nav a:active, #nav a:focus, .current_page_item	a, #home .on {
	text-decoration: none;
	color:#FD8317;
	outline: none;
	}	
	
	
/* Dropdown Menus */		
#nav li ul {
	position: absolute;
	left: -999em;
	margin: 0px;
	padding: 0px;
	height: auto;
	/*width: 174px;*/
	color:#555;
	width:250px;
	margin-left:-21px;
	padding-top:3px;

	z-index:999;
	}

#nav li li {
	width: 100%;	
background:url(../images/foot.png)repeat-x;
	margin-top:0px;
	white-space: no-wrap;
	line-height:1.2em;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	z-index:999;
	text-transform:none;
	
	}

#nav li li a, #nav li li a:visited {
	font-size:11px;
	color:#FFF;
	padding-left:10px;
	font-weight:bold;
	}

#nav li li a:hover, #nav li li a:active, #nav li li a:focus {
   /* background: #00FFFF; */
	color:#FD8317;
	outline: none;
	}	

#nav li:hover ul {
	left: auto;
	}
	
#nav li:hover ul ul {
	left: -999em;
	}

#nav ul li ul li:hover ul {
	left: 293px;
	margin-top:-23px;
	}
	

	
/* Tertiary Menus */		
#nav li ul li ul {
	position: absolute;
	left: -999em;
	margin: 0px;
	padding: 0px;
	height: auto;
	/*width: 174px;*/
	color:#555;
	width:auto;
	margin-left:-32px;
	padding-top:4px;
	z-index:999;
	}

#nav li li li {
	width: 250px;
    background-color: #1D87D5;
    margin-top:0px;
	padding-top:5px;
	padding-bottom:5px;
	z-index:999;
	text-transform:none;
}

#nav li li li a, #nav li li li a:visited {
	font-weight:normal;
	font-size:11px;
	color:#FFF;
	padding-left:10px;
	}

#nav li li li a:hover, #nav li li li a:active, #nav li li li a:focus {
   /* background: #00FFFF; */
	color:#FD8317;
	outline: none;
	}	
a.main:hover
{	
background:none;
	}

