.quake-slider
{
    background:url(../images/loading.gif) no-repeat center;
    width: 974px;
    height: 255px;
    background-color: White;
	margin-top:2px;

}
.quake-nav
{
    width:1000px;
}
.quake-nav a
{
    width: 37px;
    height: 38px;
}



.quake-slider-caption-container
{
    background-color: white;
}
.quake-slider-caption-container.vertical
{
    width: 220px;
    height: 310px;
    padding-left: 25px;
}
.quake-slider-caption-container.horizontal
{
    width: 990px;
    height: 50px;
    padding-left: 20px;
}
.quake-slider-caption-container.vertical.left
{
    left: 0px;
    margin-left: 10px;
}
.quake-slider-caption-container.vertical.right
{
    margin-right: 10px;
    right: 0px;
}
.quake-slider-caption-container.horizontal.top
{
    top: 0px;
    margin-top: 10px;
}
.quake-slider-caption-container.horizontal.bottom
{
    bottom: 0px;
    margin-bottom: 20px;
}
.quake-slider-caption
{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial;
    padding: 10px;
     line-height:1.5em;
    word-spacing:.2em;
}
.quake-slider-caption.vertical
{
    width: 210px;
    height: 306px;
}
.quake-slider-caption.horizontal
{
    width: 990px;
    height: 50px;
}
.quake-slider-caption.vertical.left
{
    left: 0px;
    margin-left: 10px;
}
.quake-slider-caption.vertical.right
{
    right: 0px;
    margin-right: 10px;
}
.quake-slider-caption.horizontal.top
{
    top: 0px;
    margin-top: 10px;
}
.quake-slider-caption.horizontal.bottom
{
    bottom: 0px;
    margin-bottom: 0px;
}
.quake-nav-wrapper
{
    margin:0;
    padding:0;
    width: 990px;
    top: 0;
    left: 0;
}
.quake-nav-wrapper.outside
{
    margin-top: 20px;
}
.quake-nav-wrapper.inside
{
    margin: -60px 30px -60px 0;
    top: 0;
    left: 0;
    width:140px;
    padding:7px;
    padding-top:15px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-border-radius: 8px;    
}
.quake-nav-container
{
    padding:0;
    margin: auto;
}
.quake-nav-control
{
    width: 22px;
    height: 22px;
    background-image:url(../images/circle.png);
    background-repeat: no-repeat;
}
.quake-nav-control.active
{
    background-image:url(../images/circle-active.png);
}
.quake-highlight
{
    color: Yellow;
}
.quake-highlight a
{
    color: Yellow;
}

