.nav,.nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
.nav {
	width:100%;
	display: block;
	margin-bottom: 10px;
	background-image: linear-gradient(to bottom, #1E90FF 0px, #6BB6FF 100%);
	overflow: hidden;
}
.nav ul {
    height:0;
    left:0;
    overflow:hidden;
    position:absolute;
    top:46px;
}
.nav li {
    float:left;
    position:relative;
}
.nav li a {
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
	background-image: linear-gradient(to bottom, #1E90FF 0px, #6BB6FF 100%);
    border:1px solid #1E90FF;
    color:#FFF;
    display:block;
    font-size:16px;
    line-height:35px;
    padding:5px 10px;
    text-decoration:none;
    transition:0.5s;
	font-weight:bold;
}
.nav li:hover > a {
	background-image: linear-gradient(to bottom, #BDB76B 0px, #D5D1A0 100%);
    border-color:#BDB76B;
    color:#1E90FF;
}
.nav li:hover ul.subs {
    height:auto;
    width:180px;
}
.nav ul li {
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -webkit-transition:0.5s;
    opacity:0;
    transition:0.5s;
    width:100%;
}
.nav li ul li {
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    -webkit-transition-delay:0s;
    transition-delay:0s;
}
.nav li:hover ul li {
    opacity:1;
    -moz-transition-delay:0.5s;
    -o-transition-delay:0.5s;
    -webkit-transition-delay:0.5s;
    transition-delay:0.5s;
}
.nav ul li a {
    background:#7770B4;
    border-color:#6E67A6;
    color:#fff;
    line-height:1px;
    -moz-transition:1.5s;
    -o-transition:1.5s;
    -webkit-transition:1.5s;
    transition:1.5s;
}
.nav li:hover ul li a {
    line-height:35px;
}
.nav ul li a:hover {
    background:#8CCA33;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));
}
/* page core */

body{
background-image: linear-gradient(to bottom, #BDB76B 0px, #D5D1A0 100%);
}
#header_top {
position: relative;
height: 120px;
}
section#header_widget {
width: 620px;
top: 52px;
margin-left:320px;
position:absolute;
}
footer{
background:#fff;
}
div#core {
	background-image: linear-gradient(to bottom, #BDB76B 0px, #D5D1A0 100%);
	display: block;
	clear: both;
	margin-bottom: 20px;
}
section#logo {
float: left;
width: auto;
display: inline;
}
section#header_top {
position: relative;
height: 120px;
}
section#top {
	background:#fff;
	width: 940px;
	height:400px;
	margin-bottom:10px;
	padding:10px;
	border-radius:8px;	
	border:2px solid #bbb;
}
section#left {
	background:#fff;
	width: 550px;
	float: left;
	height:400px;
	border:2px solid #bbb;
	border-radius:8px;	
	padding:5px;
	}
section#right {
	background:#fff;
	float: right;
	width: 376px;
	height:400px;
	border:2px solid #bbb;
	border-radius:8px;
	padding:5px;
	}
span{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	}
 
/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}
.clearfix {
	display: inline-block;
	}
 
html[xmlns] .clearfix {
	display: block;
	}
* html .clearfix {
	height: 1%;
	}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
 .effect_2 {
	font:36px/40px Garamond, 'Hoefler Text', Times New Roman, Times, serif;
	text-shadow: -1px -1px 0px black, 1px 1px 0px red;
	margin-top:30px; 
	font-variant:small-caps;
	color:red;
	font-weight:bold;
}