@charset "utf-8";
.tail-top {background:url(images/tail-top.png) left top repeat-x #fff}
.body-bg {background:url(images/body-bg.jpg) no-repeat center top}
.tail-bottom {background:url(images/tail-bottom.gif) left bottom repeat-x}
.top-links { float: right; list-style-type: none; margin: 0; padding: 0; }
.top-links li {	float: left; margin: 0 0 0 9px; }
h3 {font-size:30px;line-height:1.2em;font-weight:normal;color:#F7971D;letter-spacing:-2px;margin-bottom:12px}

@media screen, projection, print {
	* { 
		font-family:verdana, arial, helvetica, sans-serif;
		font-size:12px;
	}
	html {
		height:100%;
		width:100%;
	}
	body {
		color:#000000;
		background:#fff;
		font-family:verdana, arial, helvetica, sans-serif;
		font-size:12px;
		line-height:1.3em;
		margin:0px;
		padding:0px;
		background:#336666;
	}
	
	#slider{
	border:0px solid #336699;
	}
	#slider ul{list-style:none}
	a {
		color:#00457B;
		text-decoration:none;
	}
	a:hover {
		color:#F7971D;
		text-decoration:underline;
	}
	a:active, a:focus {
     outline: none;
   }
	h1 {
		font-size:2.2em;
		text-align:center;
		margin:0.4em 0 1.3em 0;
	}
}

/*#container {padding-top:0px;margin-top:0px; width: 974px; margin-right: auto; margin-left: auto; background:#EBEBEB; }*/
#container {padding-top:0px;margin-top:0px; width: 974px; margin-right: auto; margin-left: auto; background:#EBEBEB; }
table				{ margin: 0; padding: 0; border-collapse: collapse; }
th				{ margin: 0; padding: 0; }
td				{ margin: 0; padding: 0; }
p				{ margin: 0 0 5px 0; line-height:2em;text-indent: 1.5em;}
img				{ border: 0px; }

.logo { float: left; height: 94px; width: 244px; margin-left:20px;margin-top:-30px;}

.topnav { width: 974px; margin-right: auto; margin-left: auto; height: 22px; text-align: right; padding-top:20px }

.topnav a
{
	color:#535557;
}
.mainnav{
height: 33px;
margin-bottom: 0px;
padding: 0px;
width: 974px;
margin-left: 0px;
background: url(../images/menu.png);
clear: both;

}
#MenuBorder{position:absolute; width: 974px; margin-left: 4px; height: 1px; border-top:2px solid black; z-index:999; margin-top:2px;}

#MenuSearch{position:absolute; margin-top:-23px;margin-left:200px;}

/* #MenuSearch div{margin-top:-20px;height:28px;width:188px;float:right;background:url(/images/search_background.png)} */



#topnavmenu
{
	position:absolute;
	margin-top:5px;
	margin-left:816px;
	color:#000000;
}

#topnavmenu a
{
	color:#000000;
}

#ContactUs
{
	color:#FD8317;
	font-size:18px;
	float:right;
	margin-top:26px;
	}


#ContactUs b
{
	color:#FD8317;
	font-size:18px;
}

#ContactUs a
{
	color:#03529C;
	font-size:18px;
	padding-right:10px;
}

#footer
{clear:both;
	margin-top:10px;
	width:971px;
	margin-left:auto;
	margin-right:auto;
	color:#fff;
background:url(../images/foot.png)repeat-x;
height:40px;

	}

#footer a
{
	color:#fff;
	font-size:10px;
	font-weight:bold;
}

.copyright
{
	margin-top:-15px;
	margin-right:20px;
	float:right;
	font-size:10px;
	color:#0077BB;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
	.copyright
	{
		margin-top:-15px;
		margin-right:0px;
		float:right;
		font-size:10px;
		color:#0077BB;
	}
}
#contacts-form {clear:right;width:100%;overflow:hidden}
#contacts-form fieldset {border:none;float:left}
#contacts-form .field {clear:both}
#contacts-form label {float:left;width:106px;line-height:18px;padding-bottom:8px}
#contacts-form input {width:246px;padding:1px 0 1px 3px;border:1px solid #e2e2e2;color:#70635b;background:#fff}
#contacts-form textarea {width:443px;height:150px;padding:1px 0 1px 3px;border:1px solid #e2e2e2;color:#4e4e4e;background:#fff;margin-bottom:15px;overflow:auto}
.row-2 {width:100%;overflow:hidden;position:relative;z-index:2}
.col-11, .col-22, .col-33 ,.col-111{float:left}
#content {padding-top:0px;margin-top:0px; width: 974px; margin-right: auto; margin-left: auto; background:#EBEBEB; }
#content .tail-right {background:#fff;}
#content .col-1 {width:658px;margin-top:20px;}
#content .col-2 {width:290px;margin-top:20px;border-left:1px solid #bbb;}
#content .col-11 {width:195px;margin-top:20px;margin-left:5px;}
#content .col-111 {width:658px;margin-top:20px;padding-left:10px;}
#content .col-11 .side{padding-bottom:10px;padding-top:10px;
background: url(../images/menu_bg.png) no-repeat center top;width:195px;
}
.side a{
color:#000;
padding-left:15px;
font-weight:bold;
}
#content .col-22{width:480px;margin-top:20px;border-left:1px solid #bbb;padding:10px;text-align:justify;}
#content .col-33{width:290px;margin-top:20px;border-left:1px solid #bbb;padding:10px;text-align:justify;}
#content .col-right{float:right;width:750px;margin-top:20px;border-left:1px solid #bbb;padding:10px;text-align:justify;background:#ccc;
}
#content .col-right1{float:right;width:280px;margin-top:20px;border-left:1px solid #bbb;padding:10px;text-align:justify;background:#fff;}
#content .col-right ul li{line-height:2em;}
#content .col-2 ul {padding:0 43px 0 41px}
#content .col-2 ul li {line-height:1.43em;padding-bottom:18px}
#content .col-2 ul li strong {display:block;font-size:.86em;padding-bottom:5px}
#content .col-2 ul li a {text-decoration:none}
#content .col-2 ul li a:hover {color:#000}
#content .indent {padding:33px 33px 50px 37px}
#content .indent1 {padding-bottom:33px}

h2{
background:url(../images/hback.png)repeat-x;
height:20px;
padding:10px;
font-size:20px;
margin-top:-8px;
color:#530F04;
}
h4{
color:#fd8317;
font-size:14px;
}

.list {margin-bottom:-11px}
.list li {padding:0 0 11px 98px;min-height:74px;height:auto!important;height:74px;line-height:1.43em;position:relative}
.list li strong {display:block;font-size:.86em;padding-bottom:5px}
.list li a {color:#4e4e4e;text-decoration:none}
.list li a:hover {text-decoration:underline}
.list1 {margin-bottom:-20px}
.list1 li {padding:0 0 20px 0;line-height:1.43em;width:100%;overflow:hidden;vertical-align:top}
.list1 li img {float:left;margin:5px 21px 0 0}
.list1 li strong {display:block;font-size:.86em;padding-bottom:5px}
.list1 li a {color:#4e4e4e;text-decoration:none}
.list1 li a:hover {text-decoration:underline}
.list2 {padding-bottom:15px}
.list2 li {padding:0 0 4px 12px;background:url(images/arrow.gif) no-repeat left 5px}
.list2 li ul {padding-top:4px;margin-bottom:-4px}

#under_slider{
	width:974px;
	color:#fff;
	font-weight:bold;
	height:20px;
	position:absolute;
	background:#ff972f;
	margin-bottom:20px;
	/*border-top:3px solid #FF972F;
	border-bottom:5px solid #666;*/
	}
	#first_content {
width: 350px;
height: 270px;
position: absolute;
margin-top: 7px;
margin-left: 7px;
}
p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
#first_quote{
	margin-top:5px;
	margin-left:5px;
	height:90px;
	width:250px;
	position:absolute;
	border-right:1px solid #BCBCBC;
	}
#first_quote img{
	margin-top:20px;
	margin-left:10px;
	}
#first_quote p{
	color:#666;
	font-size:14px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:bold;
	margin-left:14px;
	}
#second_quote{
	margin-top:5px;
	margin-left:255px;
	height:90px;
	width:250px;
	position:absolute;
	border-right:1px solid #BCBCBC;
	}
#second_quote img{
	margin-top:20px;
	margin-left:14px;
	}
#second_quote p{
	color:#666;
	font-size:14px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:bold;
	margin-left:15px;
	}
#third_quote{
	margin-top:5px;
	margin-left:500px;
	height:90px;
	width:250px;
	position:absolute;
	border-right:1px solid #BCBCBC;
	}
#third_quote img{
	margin-top:20px;
	margin-left:14px;
	}
#third_quote p{
	color:#666;
	font-size:14px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:bold;
	margin-left:15px;
	}
#fourth_quote{
	margin-top:5px;
	margin-left:750px;
	height:90px;
	width:250px;
	position:absolute;
	}
#fourth_quote img{
	margin-top:20px;
	margin-left:12px;
	}
#fourth_quote p{
	color:#666;
	font-size:14px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:bold;
	margin-left:15px;
	}
